{% load staticfiles %}
<!--Bootstrap Modal without Animation-->
	<!--===================================================-->
	<div class="modal" id="modal-delete" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<!--Modal header-->
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">
					<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Eliminar contrato</h4>
				</div>


				<!--Modal body-->
				<div class="modal-body">
                        <h4>
                            Si eliminas este contrato , todos los registros relacionados se perderan<br>
                            ¿Estas seguro que quieres eliminar este contrato ?
                        </h4>
		                <input type="hidden" id="txtIdContractDelete" name="txtIdContractDelete">
						<input type="hidden" id="txtIdProviderDelete" name="txtIdProviderDelete">
                </div>


				<!--Modal footer-->
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-primary" onclick="delete_contract();">Eliminar</button>
					<button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>

				</div>
			</div>
		</div>
	</div>
	<!--===================================================-->
	<!--End Bootstrap Modal without Animation-->