{% load staticfiles %}
<!--Bootstrap Modal without Animation-->
<!--===================================================-->
<div id="modal-rank" class="modal fade" tabindex="-1" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Proveedor Rank</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                                <div class="col-lg-4">
                                    <div class="">
                                        <div class="pad-all text-center">
                                            <span class="text-2x text-thin">Calificación</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="pad-all well">
                                        <div class="row text-center">
                                                    <div class="col-md-4">
                                                        <p class="h4 mar-no">52%</p>
                                                        <small class="text-muted">Alto</small>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="h4 mar-no">72%</p>
                                                        <small class="text-muted">Aceptable</small>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="h4 mar-no">53%</p>
                                                        <small class="text-muted">Bajo</small>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="row">
                                <div class="col-lg-4">
                                    <div class="">
                                        <div class="pad-all text-center">
                                            <span class="text-2x text-thin">Calidad</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="pad-all well">
                                        <div class="row text-center">
                                                    <div class="col-md-4">
                                                        <p class="h4 mar-no">52%</p>
                                                        <small class="text-muted">Bueno</small>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="h4 mar-no">72%</p>
                                                        <small class="text-muted">Regular</small>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="h4 mar-no">56%</p>
                                                        <small class="text-muted">Malo</small>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="row">
                                <div class="col-lg-4">
                                    <div class="">
                                        <div class="pad-all text-center">
                                            <span class="text-2x text-thin">Entrega</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="pad-all well">
                                        <div class="row text-center">
                                                    <div class="col-md-4">
                                                        <p class="h4 mar-no">52%</p>
                                                        <small class="text-muted">Rapida</small>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="h4 mar-no">72%</p>
                                                        <small class="text-muted">Media</small>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="h4 mar-no">56%</p>
                                                        <small class="text-muted">Nula</small>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-*">
                                <div class="media-block">
                                        <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="/static/img/av1.png"></a>
                                        <div class="media-body">
                                            <div class="pad-btm">
                                                <a href="#" class="btn-link text-semibold media-heading box-inline">John Doe</a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>

                                        </div>
                                </div>
                                <div class="media-block">
                                        <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="/static/img/av1.png"></a>
                                        <div class="media-body">
                                            <div class="pad-btm">
                                                <a href="#" class="btn-link text-semibold media-heading box-inline">John Doe</a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>

                                        </div>
                                </div>

                            </div>

                    </div>

                </div>
            </div>
        </div>
</div>
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->